@import "tailwindcss";
@import "./chillax.css";

@theme {
	--breakpoint-xs: 475px;
	--breakpoint-xxl: 1600px;

	--font-chillax: Chillax, var(--font-sans);
	--font-variable: "Chillax Variable";

	--color-dominant: #30d158;
	--color-border-primary: white;
	--color-shadow-primary: black;
	--color-text-primary: white;
	--color-text-inverted: black;
	--color-bg-primary: black;
	--color-bg-secondary: #1c1c1e;
	--color-glass: linear-gradient(
		107.36deg,
		hsla(0, 0%, 80%, 0.1) 37.79%,
		hsla(0, 0%, 90%, 0.08) 80%,
		hsla(0, 0%, 100%, 0) 102.99%
	);

	--grid: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22none%22%20stroke%3D%22%23e2e8f0%22%20stroke-opacity%3D%220.1%22%3E%3Cpath%20d%3D%22M0%20.5H31.5V32%22%2F%3E%3C%2Fsvg%3E");

	--spacing-large-screen: 120rem;
}

@layer base {
	::selection {
		@apply bg-dominant/75 text-text-primary;
	}

	body {
		@apply bg-bg-primary text-text-primary font-chillax;
	}

	:root {
		/* To color scrollbars, form controls and other system colors  */
		color-scheme: dark;
	}
}

@layer components {
	.grid-bg {
		background-image: var(--grid);
		stroke-opacity: 0.2;
	}
}
